<div class="m-5">
<h1><%= @currency.name %></h1>
<img class="img-thumbnail" src="<%= @currency.logo %>">
<table class="table my-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Symbol</th>
      <th scope="col">Max Supply</th>
      <th scope="col">Slug</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @id %></td>
      <td><%= @currency.name %></td>
      <td><%= @currency.currency_symbol %></td>
      <td><%= @currency.max_supply %></td>
      <td><%= @currency.slug %></td>
      <td><%= @currency.price.round(4) %></td>
    </tr>
  </tbody>
</table>

<h2>My Portfolio</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Qty</th>
        <th scope="col">USD Value</th>
        <th scope="col">%</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @currency.portfolio_qty %></td>
          <td><%= @currency.portfolio_value %></td>
            <td><%=  %></td>
          </tr>
    </tbody>
  </table>
<hr>
<a class="btn btn-warning" href="<%= currencies_path %>">Home</a>
</div>